<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9">
    <php>
        <env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true" />
    </php>
    <testsuites>
        <testsuite name="robots">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
